*{
    background: #fafafa;
}


.navbar{
    padding: 0px !important;
}

td {
    border-style : hidden!important;
   }

table td {
    background-color: white !important;
}

input{
    background-color: white;
}

th{
    border-style : hidden!important;
    background-color: white;
}

button{
    background-color: #49d97f !important;
    border: 0px;
}

.result{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    background-color: white !important;
    padding: 8px;
    border-radius: 10px;
}
